/* Main */

/* Hero main */
.main-hero {
  margin-top: 30px;
  margin-bottom: 60px;
  user-select: none;
}

.main-hero__slider-container {
  display: flex;
  transition: transform 0.4s ease-in-out;
  width: 100%;
}

.main-hero__slide {
  flex: 0 0 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.main-hero__slide.active {
  opacity: 1;
  pointer-events: auto;
}

.main-hero__column {
  display: flex;
  padding: 50px 90px 0px;
}

.main-hero .container {
  border-radius: 10px;
  max-width: 1110px;
  background-color: var(--blue);

  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.hero__title {
  font-weight: var(--weight-bold);
  font-size: 42px;
  color: var(--white);
  margin-bottom: 20px;
}

.hero__server-info {
  font-size: 16px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero__server-info-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.hero__configuration-selection {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  align-items: center;
}

.button__selection-configuration {
  background-color: var(--yellow);
  padding: 14px 34px;
  font-size: 16px;
  text-decoration: none;
}

.configuration__price {
  font-weight: var(--weight-bold);
  font-size: 20px;
  color: var(--yellow);
}

.main-hero__img {
  width: 342px;
  height: 352px;
}

.main-hero__circle-list {
  gap: 12px;
  margin-top: 8px;
  display: flex;
  justify-content: end;
  margin-right: 30px;
  padding-bottom: 30px;
}

.circle__list-item {
  width: 12px;
  height: 12px;
  border-radius: 50%;

  cursor: pointer;
  transition: background-color 0.3s;
}

.circle__list-item-empty {
  border: 2px solid var(--white);
  background-color: transparent;
}

.circle__list-item-full {
  background-color: var(--white);
}

.slider-arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: white;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  line-height: 1;
  font-size: 24px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
  z-index: 10;
}

.slider-arrow:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border-color: white;
}

.slider-arrow.prev {
  left: 20px;
}

.slider-arrow.next {
  right: 20px;
}

/* Server Types */

.server__types {
  background-color: #00000008;
}

.server__types-card__list {
  display: flex;
  gap: 30px;
  padding: 60px 0;
}

.server__types-card__list-item {
  background-color: var(--white);
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
}

.server__types-card__title {
  font-weight: var(--weight-bold);
  font-size: 24px;
  line-height: 32px;
  color: var(--blue);
  margin-bottom: 20px;
}

.server__types-card__description {
  font-size: 16px;
  line-height: 25px;
  color: var(--gray);
  margin-bottom: 20px;
}

.server__types-card__price {
  font-size: 24px;
  line-height: 25px;
  color: var(--blue);
}

.server__types-card__more-details {
  font-size: 16px;
  text-decoration: none;
  background-color: var(--yellow);
  border-radius: 5px;
  padding: 10px 38px;
  margin-top: 40px;
  align-self: flex-start;
}

/* Advantages */

.advantages {
  margin-bottom: 60px;
}

.advantages-section__title {
  margin-top: 60px;
  margin-bottom: 40px;

  font-weight: var(--weight-bold);
  font-size: 42px;
}

.advantages-card__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 20px;
}

.advantages-card__list-item {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 8px;
  padding: 23px 20px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}

.advantages-card__list-item-noSvg {
  gap: 9.5px;
}

.advantages-card__list-item__trial {
  font-family: var(--second-fonts);
  font-weight: var(--weight-medium);
  font-size: 16px;
  line-height: 26px;
  color: var(--blue);
}

.advantages-card__list-item__name {
  font-size: 18px;
  line-height: 26px;
  color: var(--gray);
}

/* Current news */

.current__news {
  background-color: #00000008;
  padding-bottom: 60px;
}

.current__news-start {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  margin-bottom: 30px;
}

.current__news-section__title {
  font-weight: var(--weight-bold);
  font-size: 42px;
}

.more__news {
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  color: var(--blue);
}

.current__news-list {
  display: flex;
  gap: 30px;
}

.current__news-list__item {
  background-color: var(--white);
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  padding: 30px 40px;
  min-height: 406px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.current__news-list__item__title {
  font-weight: var(--weight-bold);
  font-size: 20px;
  line-height: 32px;
  color: var(--blue);

  flex: 0 33.33%;
}

.current__news-list__item__description {
  font-size: 16px;
  line-height: 25px;
  color: var(--gray);

  flex: 1 auto;
}

.current__news-list__item__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current__news-details {
  display: flex;
  align-items: center;
  gap: 5px;
}

.current__news-details__more {
  text-decoration: none;
}

.current__news-date {
  display: flex;
  gap: 5px;
}
