.overlay__modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9998;
}

.overlay__modal.show {
  display: block;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 12px;
  z-index: 9999;
  width: 90%;
  max-width: 700px;
  overflow-y: auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.modal.show {
  display: block;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.modal__close {
  text-decoration: none;
  border: none;
  background: none;
  text-transform: uppercase;
  font-weight: var(--weight-bold);
  font-size: 18px;
  cursor: pointer;
}

.calculator__main {
  display: flex;
  flex-direction: column;
}

.calculator__row-title {
  display: flex;
  align-self: center;
  margin-bottom: 25px;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.calculator__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.calculator__row-column__select {
  display: flex;
  flex-direction: column;
}

.calculator__label {
  display: flex;
  align-self: center;
  margin-bottom: 5px;
}

.calculator__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: 0;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.calculator__checkbox-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  margin: 0 auto;
}

.calculator__checkbox-item-1 {
  grid-column: 1;
}

.calculator__checkbox-item-2 {
  grid-column: 2;
}

.calculator__checkbox-item-3 {
  grid-column: 1 / -1;
  justify-self: center;
  margin-top: 10px;
}

.modal__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calculator__total {
  font-size: 20px;
  font-weight: var(--weight-bold);
}

.calculator__total-price {
  border-bottom: 1px gray solid;
}

.button__buy {
  text-decoration: none;

  background-color: var(--yellow);
  padding: 10px 25px;
  border-radius: 5px;
}
