.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 45px;
}

.body {
  font-family: var(--main-fonts);
  color: var(--black);
  font-weight: var(--main-weight);
}

/* Верхняя чёрная полоса */

.tagline {
  background-color: var(--black);
}

.text-tagline {
  color: var(--white);
  font-size: 13px;
  padding: 12px 0;
}

/* Header logo */

header {
  border-bottom: 1px solid #ddd;
}

.header .container {
  padding: 20px 45px;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  gap: 12px;
  font-family: var(--second-fonts);
}

.logo__mark {
  background-color: var(--blue);
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: var(--weight-bold);
  color: var(--white);
  font-size: 18px;
  text-transform: uppercase;
}

.logo__name-part {
  font-weight: var(--weight-medium);
  line-height: 18px;
  font-size: 20px;
}

.logo__name-first {
  color: var(--black);
  margin-bottom: 4px;
}

.logo__name-last {
  color: var(--blue);
}

/* Header nav */

.nav__list {
  display: flex;
  margin-left: 92px;
  gap: 30px;
}

.nav__list-item-arrow {
  display: flex;
  gap: 9.5px;
}

.nav__list-item {
  font-size: 14px;
}

/* Header contacts */

.header__contacts {
  margin-left: 75px;
}

.header__address {
  font-family: var(--second-fonts);
  font-size: 14px;
}

.svg__arrow-down-address {
  margin-left: 3px;
  margin-bottom: 2px;
}

.header__phone {
  text-decoration: none;
  color: var(--blue);
  font-size: 16px;
}

.log-in {
  display: flex;
  margin-left: 75px;
  gap: 14.5px;
}

.log-in__link {
  font-size: 14px;
  color: var(--blue);
}

/* Main */

/* Hero main */
.main-hero {
  margin-top: 30px;
  margin-bottom: 60px;
}

.main-hero__column {
  display: flex;
  padding: 50px 90px 0px;
}

.main-hero .container {
  border-radius: 10px;
  max-width: 1110px;
  background-color: var(--blue);
}

.hero__title {
  font-weight: var(--weight-bold);
  font-size: 42px;
  color: var(--white);
  margin-bottom: 20px;
}

.hero__server-info {
  font-size: 16px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero__server-info-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.hero__configuration-selection {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  align-items: center;
}

.button__selection-configuration {
  background-color: var(--yellow);
  padding: 14px 34px;
  font-size: 16px;
  text-decoration: none;
}

.configuration__price {
  font-weight: var(--weight-bold);
  font-size: 20px;
  color: var(--yellow);
}

.main-hero__img {
  width: 342px;
  height: 352px;
}

.main-hero__circle-list {
  gap: 12px;
  margin-top: 8px;
  display: flex;
  justify-content: end;
  margin-right: 30px;
  padding-bottom: 30px;
}

.circle__list-item {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.circle__list-item-empty {
  border: 2px solid var(--white);
}

.circle__list-item-full {
  background-color: var(--white);
}

/* Server Types */

.server__types {
  background-color: #00000008;
}

.server__types-card__list {
  display: flex;
  gap: 30px;
  padding: 60px 0;
}

.server__types-card__list-item {
  background-color: var(--white);
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
}

.server__types-card__title {
  font-weight: var(--weight-bold);
  font-size: 24px;
  line-height: 32px;
  color: var(--blue);
  margin-bottom: 20px;
}

.server__types-card__description {
  font-size: 16px;
  line-height: 25px;
  color: var(--gray);
  margin-bottom: 20px;
}

.server__types-card__price {
  font-size: 24px;
  line-height: 25px;
  color: var(--blue);
}

.server__types-card__more-details {
  font-size: 16px;
  text-decoration: none;
  background-color: var(--yellow);
  border-radius: 5px;
  padding: 10px 38px;
  margin-top: 40px;
  align-self: flex-start;
}

/* Advantages */

.advantages {
  margin-bottom: 60px;
}

.advantages-section__title {
  margin-top: 60px;
  margin-bottom: 40px;

  font-weight: var(--weight-bold);
  font-size: 42px;
}

.advantages-card__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 20px;
}

.advantages-card__list-item {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 8px;
  padding: 23px 20px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}

.advantages-card__list-item-noSvg {
  gap: 9.5px;
}

.advantages-card__list-item__trial {
  font-family: var(--second-fonts);
  font-weight: var(--weight-medium);
  font-size: 16px;
  line-height: 26px;
  color: var(--blue);
}

.advantages-card__list-item__name {
  font-size: 18px;
  line-height: 26px;
  color: var(--gray);
}

/* Current news */

.current__news {
  background-color: #00000008;
  padding-bottom: 60px;
}

.current__news-start {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  margin-bottom: 30px;
}

.current__news-section__title {
  font-weight: var(--weight-bold);
  font-size: 42px;
}

.more__news {
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  color: var(--blue);
}

.current__news-list {
  display: flex;
  gap: 30px;
}

.current__news-list__item {
  background-color: var(--white);
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  padding: 30px 40px;
  min-height: 406px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.current__news-list__item__title {
  font-weight: var(--weight-bold);
  font-size: 20px;
  line-height: 32px;
  color: var(--blue);

  flex: 0 33.33%;
}

.current__news-list__item__description {
  font-size: 16px;
  line-height: 25px;
  color: var(--gray);

  flex: 1 auto;
}

.current__news-list__item__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current__news-details {
  display: flex;
  align-items: center;
  gap: 5px;
}

.current__news-details__more {
  text-decoration: none;
}

.current__news-date {
  display: flex;
  gap: 5px;
}

/* Footer */

.footer {
  background-color: var(--black);
  padding: 60px 0;
}

.footer__lists {
  display: flex;
  gap: 110px;
}

.footer__container-list {
  flex: 1;
}

.footer__list-title {
  font-weight: var(--weight-bold);
  font-size: 18px;
  line-height: 32px;
  color: var(--white);

  margin-bottom: 10px;
}

.footer__list-item {
  font-size: 16px;
  line-height: 32px;
  color: var(--white);
}

/* Footer bottom */

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 30px;
}

.pay__method {
  display: flex;
}

.pay__method-text {
  font-weight: var(--weight-bold);
  font-size: 14px;
  line-height: 32px;
  color: var(--white);

  margin-right: 19px;
}

.pay__method-list {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 5px;
}

.copyright {
  font-size: 14px;
  line-height: 32px;
  color: var(--white);
}

.support__phone {
  display: flex;
  gap: 5px;
}

.support__phone-text {
  font-size: 14px;
  line-height: 32px;
  color: var(--white);
}

.support__phone-number {
  font-weight: var(--weight-bold);
  font-size: 14px;
  line-height: 32px;
  color: var(--white);
  text-decoration: none;
}
